@page
@model ReadingLog.App.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please enter your credentials</h3>
            </div>
            <div class="panel-body">
                <form asp-route="Login">
                    <input type="hidden" asp-for="ReturnUrl" />

                    <fieldset>
                        <div class="form-group">
                            <label asp-for="@Model.Username"></label>
                            <input class="form-control" placeholder="Username" asp-for="@Model.Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Password" autocomplete="off" />
                        </div>
                        <div class="form-group login-remember">
                            <label asp-for="@Model.RememberLogin">
                                <input asp-for="@Model.RememberLogin">
                                <strong>Remember Me</strong>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>