@page
@model ReadingLog.App.Pages.Books.ListModel
@{
    ViewData["Title"] = "Books";
}

<h2 class="text-center font-weight-light">Book Log</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-page="./Edit" class="btn btn-sm btn-primary">Add New</a>
        </div>
        <div class="col"></div>
        <div class="col">
            <form method="GET">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" class="form-control" asp-for="SearchTerm"/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-sm table-hover" id="data-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th># Days</th>
        </tr>
    </thead>
    @foreach (var book in Model.Books)
    {
        <tr onclick="location.href = '@(Url.Page("Edit", new { bookId = book.Id}))'" style="cursor:pointer">
            <td>@book.Title</td>
            <td>@Model.AuthorNames[@book.AuthorId]</td>
            <td>@book.Status</td>
            <td>@(book.StartDate != null ? book.StartDate.Value.ToString("dd-MM-yyyy") : "")</td>
            <td>@(book.EndDate != null ? book.EndDate.Value.ToString("dd-MM-yyyy") : "")</td>
            <td>@(book.DaysReading != TimeSpan.Zero ? book.DaysReading.Value.Days : "")</td>
        </tr>
    }
</table>

@* @section scripts 
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
    <script>
        $(function() {
            $("#data-table").tablesorter({
                sortList : [[3, 0]],
                headerTemplate : "{icon}{content}",
                cssIcon : "tablesorter-icon",
                theme : "default"
            });
        });
    </script>
} *@