@page "{authorId:int}"
@model ReadingLog.App.Pages.Authors.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2 class="text-center font-weight-light">@Model.Author.FirstName @Model.Author.LastName</h2>

<div class="container mb-3">
    <div class="row">
        <div class="col">
            <a asp-page="./Edit" asp-route-authorId="@Model.Author.Id" class="btn btn-primary">Edit Author</a>
            <a asp-page="./List" class="btn btn-secondary">List</a>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<h3>Books in your List</h3>
<table class="table table-sm table-hover" id="data-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th># Days</th>
            <th>Rating</th>
        </tr>
    </thead>
    @foreach (var book in Model.Author.Books)
    {
        <tr onclick="location.href = '@(Url.Page("../Books/Edit", new { bookId = book.Id}))'" style="cursor:pointer">
            <td>@book.Title</td>
            <td>@book.Status</td>
            <td>@(book.StartDate != null ? book.StartDate.Value.ToString("dd-MM-yyyy") : "")</td>
            <td>@(book.EndDate != null ? book.EndDate.Value.ToString("dd-MM-yyyy") : "")</td>
            <td>@(book.DaysReading != TimeSpan.Zero ? book.DaysReading.Value.Days : "")</td>
            <td>@book.Rating.ToString("0.0")</td>
        </tr>
    }
</table>

<h3>Other Published Books</h3>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
        </tr>
    </thead>
    @foreach (var publishedBook in Model.PublishedBooks)
    {
        <tr onclick="location.href = '@publishedBook.InfoLink'" style="cursor:pointer">
            <td>@publishedBook.Title</td>
            <td>
                @Html.Raw(string.Join(", ", @publishedBook.Authors))
            </td>
        </tr>
    }
</table>