@page
@model ReadingLog.App.Pages.Authors.ListModel
@{
    ViewData["Title"] = "Authors";
}

<h2 class="text-center font-weight-light">Authors List</h2>

@if (@TempData["EditResult"] != null)
{
        <div class="alert alert-primary">@TempData["EditResult"]</div>
}

@if (@TempData["DeleteResult"] != null)
{
        <div class="alert alert-warning">@TempData["DeleteResult"]</div>
}

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-page="./Edit" class="btn btn.sm btn-primary">Add New</a>
        </div>
        <div class="col"></div>
        <div class="col">
            <form method="GET">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" class="form-control" asp-for="SearchTerm"/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Avg Rating</th>
            <th>Reading</th>
            <th>Finished</th>
            <th>Abandoned</th>
            <th>To Read</th>
        </tr>
    </thead>
    @foreach (var author in Model.Authors)
    {
        <tr onclick="location.href = '@(Url.Page("Detail", new { authorId = author.Id}))'">
            <td>@author.FirstName @author.LastName</td>
            <td>@author.GetAvgRating().ToString("0.0")</td>
            <td>@author.GetBooksCount(Core.Status.Reading)</td>
            <td>@author.GetBooksCount(Core.Status.Finished)</td>
            <td>@author.GetBooksCount(Core.Status.Abandoned)</td>
            <td>@author.GetBooksCount(Core.Status.ToRead)</td>
        </tr>
    }
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            if ($('.alert').length) {
                setTimeout(function () {
                    $('.alert').hide();
                }, 5000);
            }
        });
    </script>    
}